/ckpt-epoch=54-val_loss=1.21.ckpt
/ckpt-epoch=56-val_loss=1.20.ckpt
/ckpt-epoch=70-val_loss=1.17.ckpt
/ckpt-epoch=72-val_loss=1.19.ckpt
/ckpt-epoch=73-val_loss=1.19.ckpt
/ckpt-epoch=76-val_loss=1.17.ckpt
/ckpt-epoch=77-val_loss=1.16.ckpt
/ckpt-epoch=78-val_loss=1.17.ckpt
/ckpt-epoch=79-val_loss=1.18.ckpt
/ckpt-epoch=81-val_loss=1.20.ckpt
/ckpt-epoch=84-val_loss=1.17.ckpt
/ckpt-epoch=86-val_loss=1.20.ckpt
/ckpt-epoch=88-val_loss=1.19.ckpt
/ckpt-epoch=89-val_loss=1.20.ckpt
/ckpt-epoch=97-val_loss=1.21.ckpt
/ckpt-epoch=98-val_loss=1.20.ckpt
/ckpt-epoch=99-val_loss=1.20.ckpt
/ckpt-epoch=100-val_loss=1.20.ckpt
/ckpt-epoch=101-val_loss=1.20.ckpt
/ckpt-epoch=102-val_loss=1.20.ckpt
