/ckpt-epoch=63-val_loss=1.16.ckpt
/ckpt-epoch=66-val_loss=1.16.ckpt
/ckpt-epoch=67-val_loss=1.16.ckpt
/ckpt-epoch=68-val_loss=1.16.ckpt
/ckpt-epoch=71-val_loss=1.16.ckpt
/ckpt-epoch=75-val_loss=1.15.ckpt
/ckpt-epoch=76-val_loss=1.15.ckpt
/ckpt-epoch=78-val_loss=1.13.ckpt
/ckpt-epoch=79-val_loss=1.15.ckpt
/ckpt-epoch=81-val_loss=1.15.ckpt
/ckpt-epoch=85-val_loss=1.14.ckpt
/ckpt-epoch=86-val_loss=1.16.ckpt
/ckpt-epoch=89-val_loss=1.14.ckpt
/ckpt-epoch=90-val_loss=1.16.ckpt
/ckpt-epoch=97-val_loss=1.16.ckpt
/ckpt-epoch=98-val_loss=1.15.ckpt
/ckpt-epoch=99-val_loss=1.15.ckpt
/ckpt-epoch=100-val_loss=1.16.ckpt
/ckpt-epoch=101-val_loss=1.16.ckpt
/ckpt-epoch=102-val_loss=1.16.ckpt
